.score-container {
    max-width: 38rem;
    height: 34rem;
    margin: auto;
    background-image: url("Images/result.svg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.score-page-fw {
    background-color: #EDE8E3;
}

.score-page {
    background-color: #fff;
}

.text-container {
    color: #fff;
}

.title {
    font-size: 2.8rem;
}

.score {
    font-size: 3.8rem;
    font-weight: 600;
}

.requested-score, .test-result, .time {
    font-size: 2rem;
}

.test-result {
    font-weight: 600;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

    .btn-container button {
        background-color: #FCC822;
        color: #fff;
        padding: 1rem 0;
        min-width: 12rem;
        border: none;
        border-radius: 6px;
        font-size: 1.2rem;
        font-weight: 600;
    }

        .btn-container button:hover {
            background-color: #ffd755;
        }

.progress-container {
    background-color: #F4F3F6;
}

.progress {
    height: 2.6rem;
    background-color: #EDE8E3;
    min-width: 30%;
    overflow: unset;
    position: relative;
    border: 6px;

}
.progress-bar {
    background-color: #31CD63;
    border-radius: 6px;
}

.progress-value {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    right: -3rem;
    top: 0.5rem;
    color: #757575;
}

.progress-container button {
    background-color: #747475;
    color: #EDE8E2;
    border: none;
    padding: .4rem 1rem;
    border-radius: 6px;
    text-transform: uppercase;
}