.header-title[b-bmfnwgzi7i] {
    color: #0E2954;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.plan-title[b-bmfnwgzi7i] {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.plan-container[b-bmfnwgzi7i] {
    margin-top: 2rem;
}