.privacy-page[b-x7j25xivso] {
    color: #0E2954;
}

.subtitle[b-x7j25xivso] {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1.6rem;
    margin-bottom: .6rem;
}

.text-content[b-x7j25xivso] {
    margin-bottom: 1rem;
}