<div class="container text-center">
	<button class="category-btn nature mx-2">
		Nature <img src="/Images/leaf.svg" alt="leaf icon" />
	</button>
	<button class="category-btn biology mx-2">
		Biology <img src="/Images/heartadd.svg" alt="leaf icon" />
	</button>
	<button class="category-btn technology mx-2">
		Technology <img src="/Images/cpucharge.svg" alt="leaf icon" />
	</button>
	<button class="category-btn sport mx-2">
		Sport <img src="/Images/Group.svg" alt="leaf icon" />
	</button>
</div>
@code {

}

