.details[b-v2rqcq2gl5] {
    color: #0E2954;
    margin: 2rem 0;
}

.details-container[b-v2rqcq2gl5] {
    background-color: #F9F6FF;
    border-radius: 8px;
    padding: 1.6rem;
}

.heading-text[b-v2rqcq2gl5] {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.details-container p[b-v2rqcq2gl5] {
    text-align: center;
}