<span>@remainingTime</span>

@code {
    [Parameter] public int Hours { get; set; }
    [Parameter] public int Minutes { get; set; }

    private TimeSpan countdownDuration;
    private string remainingTime = "00:00:00";

    protected override void OnParametersSet()
    {
        countdownDuration = new TimeSpan(Hours, Minutes, 0);

        StartCountdown();
    }

    private async Task StartCountdown()
    {
        while (countdownDuration.TotalSeconds > 0)
        {
            remainingTime = countdownDuration.ToString(@"hh\:mm\:ss");
            countdownDuration = countdownDuration.Subtract(TimeSpan.FromSeconds(1));
            await Task.Delay(1000);
            StateHasChanged();
        }

        remainingTime = "00:00:00";
    }
}
