.login-container[b-hnkm7zfjlm] {
    background-color: #f7f7f7;
    border-radius: 12px;
    padding: 2rem;
    color: #0E2954;
}

.login-text[b-hnkm7zfjlm] {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.email-input[b-hnkm7zfjlm] {
    margin-top: 1.4rem;
}

.login-btn[b-hnkm7zfjlm] {
    color: #fff;
    background-color: #FF8551;
    border: none;
    font-size: 1.4rem;
    border-radius: 6px;
    padding: .4rem 2rem;
}

.reset-pass-text[b-hnkm7zfjlm] {
    margin: 1.6rem 0;
}


@media screen and (max-width: 600px) {
    .login-container[b-hnkm7zfjlm] {
        padding: 2rem 1rem;
    }
}
