@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo">
            <img src="/BrainSparkLogo.png" class="navbar-brand" href="#" />
            <div class="connect-text">
                <h3 class="logo-text">BrainSpark</h3>
                <p class="moto">ILLUMINATE YOUR KNOWLEDGE</p>
            </div>
        
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <form class="d-flex">
                <input class="search-bar" type="search" placeholder="Search" aria-label="Search">
                <button class="search-button" type="submit">Search</button>
            </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <NavLink class="nav-link active" aria-current="page" href="#">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link"  href="#">Exam</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link"  href="#">About</NavLink>
                    </li>
                    <li class="nav-item">
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item">
                                @{
                                    var user = context.User;
                                    if (user.Identity != null && !string.IsNullOrEmpty(user.Identity.Name))
                                    {
                                        <a class="nav-link">Hello, @user.Identity.Name</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link">Hello, User</a>
                                    }
                                }
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="https://brainsparkdevb2c.b2clogin.com/brainsparkdevb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_signupsignin&client_id=721c878d-1e30-44e7-a2dd-43f3b2c7c5a8&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fgentle-pond-071fafa03.3.azurestaticapps.net%2Fauthentication%2Flogin-callback%2F&scope=openid&response_type=code&prompt=login&code_challenge_method=S256&code_challenge=25zbZAUI7J0JhnLSEn3HWP41dT94tkmO6ZK_GQWYsPY">Login</NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </li>
                </ul>
            </div>
    </div>
</nav>

@code {
    private AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

    private AuthenticationState context => authenticationState;

    private async Task HandleLogin()
    {

        NavigationManager.NavigateTo("/");
    }
}
