<div class="container">
	<div class="row">
		<div class="col-md-7 col-lg-8 col-12 heading-text">
			Embark on Your Learning Journey: Choose Your Assigned Exam
		</div>
		<div class="col-md-5 col-lg-4 col-12">
			<img src="Images/analyze.svg" alt="Analyze image" class="analyze-svg"/>
		</div>
	</div>
</div>

@code {

}
