@page "/about"

<div class="container about-page">
    <div class="row">
        <h1 class="heading-text mb-5">Discover Our Story: Empowering Education Since Day One</h1>
        <div class="col-12 col-md-6">
            <img class="heading-img" src="/Images/img2.jpg" alt="image on the street of America" />
        </div>
        <div class="col-12 col-md-6 px-3 px-md-5 our-journey">
            <div class="about-title">
                Our Journey: Empowering Minds Through Online Exams
            </div>
            <p class="text-indent">
                Welcome to BrainSpark, where our journey began with a
                mission to empower minds through accessible and innovative
                online exams. Learn about the inception of our platform,
                driven by a passion for education and a commitment to
                providing seamless assessment solutions for students and
                professionals worldwide.
            </p>
        </div>
        <div class="col-12 col-md-6 my-3">
            <div class="about-container">
                <div class="about-title">
                    Our Story: Discovering the Journey
                </div>
                <p>
                    Our Journey: Empowering Minds Through Online Exams
                    Welcome to BrainSpark, where our journey began with
                    a mission to empower minds through accessible and
                    innovative online exams.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 my-3">
            <div class="about-container">
                <div class="about-title">
                    Meet the BrainSpark Team: Champions of Educational Excellence
                </div>
                <p>
                    At BrainSpark, we have assembled a team of dedicated
                    individuals who share a common vision of transforming
                    the way people learn and evaluate their knowledge.
                </p>
            </div>
        </div>
    </div>
</div>



@code {

}
