<button type="button" class="" data-bs-toggle="modal" data-bs-target="@($"#exampleModal-{ModalId}")">
    Details
</button>

<div class="modal fade" id="@($"exampleModal-{ModalId}")" tabindex="-1" aria-labelledby=$"{@($"exampleModal-{ModalId}")}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=$"{@ModalId}exampleModalLabel">@ModalTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string ModalTitle { get; set; } = string.Empty;

    [Parameter]
    public int ModalId { get; set; }

}
