.title[b-wysyp5h33q] {
    text-align: center;
    margin-bottom: 4.5rem;
    font-size: 46px;
}

.select-options[b-wysyp5h33q] {
    text-align: center;
}

.exam-type[b-wysyp5h33q] {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 12px 0px;
}

.public-container[b-wysyp5h33q], .assigned-container[b-wysyp5h33q] {
    background-color: #F9F6FF;
    border-radius: 6px;
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: 30%;
}

    .public-container > p[b-wysyp5h33q] {
        font-size: 18px;
    }

    .assigned-container > p[b-wysyp5h33q] {
        font-size: 18px;
    }

.public-button[b-wysyp5h33q], .assigned-button[b-wysyp5h33q] {
    border-radius: 6px;
    background: #FF7A00;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 20px;
    margin-bottom: 20px;
}

.time-limit[b-wysyp5h33q] {
    display: flex;
    flex-direction: column;
    
}

.hours[b-wysyp5h33q], .minutes[b-wysyp5h33q] {
    border-radius: 6px;
    border: 2px solid #FF7A00;
}

.options-container[b-wysyp5h33q] {
    display: flex;
    justify-content: space-between;
    background-color: #F9F6FF;
    border-radius: 6px;
    margin-bottom: 2rem;
    padding: 1rem;
}

.invalid[b-wysyp5h33q] {
    outline: 1px solid red;
}

.validation-message[b-wysyp5h33q] {
    color: red;
}
