.header-title {
    color: #0E2954;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.plan-title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.plan-container {
    margin-top: 2rem;
}