@page "/login"

<div class="container">
	<div class="row">
		<div class="col-12 col-md-8 col-lg-6 mx-auto my-5 login-container">
			<h2 class="text-center login-text">Login</h2>
			<form>
				<div class="mb-3 email-input">
					<label for="email" class="form-label">Email address</label>
					<input type="email" class="form-control" id="email" placeholder="email">
				</div>
				<div class="mb-3 password-input">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" placeholder="password">
				</div>
				<div class="checkbox-container">
					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="keepLogin">
						<label class="form-check-label" for="keepLogin">KEEP ME LOGED IN</label>
					</div>
					<div class="mb-3"><NavLink class="forgot-pass" href="/forgotpassword">FORGOT PASSWORD</NavLink></div>
				</div>
				<button class="login-btn mx-auto d-block mt-3" type="submit">Login</button>
				<div class="mt-4">
					<p class="text-center">You don’t have an account? <NavLink class="reg-now-btn" href="/register">REGISTER NOW</NavLink></p>
				</div>
			</form>
		</div>
	</div>
</div>

@code {
	private string inputValue = string.Empty;
}
