@page "/authentication/logout"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        NavigationManager.NavigateToLogout("authentication/logout");
    }
}