@page "/authentication/logout"
@inject NavigationManager NavManager

<h3>Logging out...</h3>

@code {
    protected override void OnInitialized()
    {   
        InitiateLogout();
    }

    private void InitiateLogout()
    {
        var tenantName = "brainsparkdemo";
        var policyName = "B2C_1_signupsignin";
        var postLogoutRedirectUri = "https://ashy-desert-0eae5c503.3.azurestaticapps.net/test";

        var logoutUrl = $"https://{tenantName}.b2clogin.com/{tenantName}.onmicrosoft.com/{policyName}/oauth2/v2.0/logout?p={policyName}&post_logout_redirect_uri={Uri.EscapeDataString(postLogoutRedirectUri)}";

        
        NavManager.NavigateTo(logoutUrl, forceLoad: true);
    }
}
