@page "/authentication/logout"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager

<h3>Logging out...</h3>

@code {
    protected override void OnInitialized()
    {
        // Navigate to Azure AD B2C's logout endpoint
        NavigationManager.NavigateTo("authentication/logout", forceLoad: true);
    }
}
