@page "/termsofservice"

<div class="container privacy-page">
	<div class="row">
		<h1 class="text-center my-5">TERMS OF SERVICE</h1>
		<div class="col-12">
			<div>
				Welcome to BrainSpark Online Exam WebApp ("the WebApp"), provided by BrainSpark Technologies ("we," "us," or "our"). By using the WebApp,
				you agree to be bound by these Terms of Service. Please read these terms carefully before using the WebApp.
			</div>
			<div class="subtitle">
				1. Acceptance of Terms
			</div>
			<div class="text-content">
				1.1. Agreement: By accessing or using the WebApp, you agree to these Terms of Service and all applicable laws and regulations. If you do not
				agree to these terms, please refrain from using the WebApp.
			</div>
			<div class="text-content">
				1.2. Modifications: We reserve the right to update or modify these Terms of Service at any time. Any changes will be effective immediately upon posting
				the revised terms on the WebApp. It is your responsibility to review the Terms of Service periodically to stay informed of any updates.
			</div>
			<div class="subtitle">
				2. Use of the WebApp
			</div>
			<div class="text-content">
				2.1. Eligibility: You must be at least 18 years old to use the WebApp. By using the WebApp, you represent and warrant that you are of legal age to form a
				binding contract with us.
			</div>
			<div class="text-content">
				2.2.  License: Subject to these Terms of Service, we grant you a non-exclusive, non-transferable, revocable license to access and use the WebApp for personal
				or educational purposes.
			</div>
			<div class="text-content">
				2.3. Prohibited Activities: When using the WebApp, you agree not to:
			</div>
			<ol>
				<li>Violate any applicable laws or regulations.</li>
				<li>Interfere with or disrupt the WebApp or its servers.</li>
				<li>Attempt to gain unauthorized access to any part of the WebApp or its systems.</li>
				<li>Transmit any viruses, malware, or harmful code through the WebApp.</li>
				<li>Use the WebApp to transmit any unauthorized advertising or spam.</li>
			</ol>
			<div class="subtitle">
				3. Intellectual Property Rights
			</div>
			<div class="text-content">
				3.1. Ownership: All content and materials available on the WebApp, including but not limited to
				text, graphics, logos, images, and software, are the property of BrainSpark Technologies or its licensors and
				are protected by copyright, trademark, and other intellectual property laws.
			</div>
			<div class="text-content">
				3.2. Limited Use: You may access and use the content on the WebApp solely for your personal, non-commercial use. You are not permitted 
				to modify, distribute, reproduce, or create derivative works from the content without our explicit written consent.
			</div>
			<div class="subtitle">
				4. Privacy
			</div>
			<div class="title">
				Your privacy is important to us. Please review our Privacy Policy, which explains how we collect, use, and protect your personal information when you use the WebApp.
			</div>
			<div class="subtitle">
				5. Disclaimer of Warranty
			</div>
			<div class="title">
				The WebApp is provided on an "as-is" and "as-available" basis without any warranties of any kind, whether express or implied. We do not guarantee the accuracy, completeness, 
				or reliability of the content on the WebApp.
			</div>
			<div class="subtitle">
				6. Limitation of Liability
			</div>
			<div class="text-content">
				In no event shall BrainSpark Technologies be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or related to your use of
				the WebApp or these Terms of Service.
			</div>
			<div class="subtitle">
				7. Indemnification
			</div>
			<div class="text-content">
				You agree to indemnify and hold harmless BrainSpark Technologies and its affiliates, officers, employees, and agents from any claims, damages, liabilities, and expenses
				arising out of your use of the WebApp or any violation of these Terms of Service.
			</div>
			<div class="subtitle">
				8. Governing Law
			</div>
			<div class="text-content">
				These Terms of Service shall be governed by and construed in accordance with the laws of [Your Jurisdiction], without regard to its conflicts 
				of law principles.
			</div>
			<div class="subtitle">
				9. Contact Us
			</div>
			<div class="text-content">
				If you have any questions or concerns about these Terms of Service, please contact us at [contact email].
			</div>
			<div class="text-content">
				By using the WebApp, you agree to abide by these Terms of Service. Thank you for using BrainSpark Online Exam WebApp!
			</div>
		</div>
	</div>
</div>

@code {

}
