<div class="container mx-auto">
	<div class="row details">
		<div class="col-12 col-sm-6 col-md-4">
			<div class="details-container">
				<div class="heading-text">TEST 1</div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="details-container">
				<div class="heading-text">TEST 2</div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="details-container">
				<div class="heading-text">TEST 3</div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
		</div>
	</div>
</div>

@code {

}
