<div class="container my-5">
	<div class="row">
		<div class="landing-container col-12 col-lg-6 px-0 px-md-3">
			<div class="text-container">
				<h3 class="landing-text">
					Welcome to the <span>BrainSpark</span> Exam Website!
				</h3>
				<p class="">Unlock Your Potential, Ace Your Exams!</p>
				<button class="student-signup-btn my-2 me-0 me-md-2"><span class="student">Student</span> <span class="sign-text">Sign up for free</span></button>
				<button class="teacher-login-btn my-2 ms-0 ms-md-2"><span class="teacher">Teacher</span> <span class="log-text">Log in here</span></button>
			</div>
		</div>
		<div class="landing-svg col-12 col-lg-6">
			<img src="/LearningPic.svg" alt="Svg Learning Image" />
		</div>
	</div>
</div>
<div class="col-12 waves-bg mt-3 mt-md-5">
	<img src="/Images/waves.svg" alt="waves opacity image" class="mt-1 mt-md-5" />
</div>
@code {

}
