@inherits LayoutComponentBase

<div class="page">
	<header>
		<NavMenu />
	</header>
	<div class="container">
		<div class="my-3">
			<NavLink href="/">Home</NavLink>
			<NavLink href="/categories" class="mx-2">Categories</NavLink>
			<NavLink href="/category/Nature">Category</NavLink>
			<NavLink href="/login" class="ms-2">Login</NavLink>
			<NavLink href="/register" class="ms-2">Register</NavLink>
			<NavLink href="/about" class="ms-2">About</NavLink>
			<NavLink href="/forgotpassword" class="ms-2">Forgot password</NavLink>
			<NavLink href="/termsofservice" class="ms-2">Terms of service</NavLink>
			<NavLink href="/privacypolicy" class="ms-2">Privacy Policy</NavLink>
			<NavLink href="/test/1" class="ms-2">Test</NavLink>
			<NavLink href="/score" class="ms-2">Score</NavLink>
			<NavLink href="/admin/newexam" class="ms-2">New Exam</NavLink>
			<NavLink href="/admin" class="ms-2">Admin Home Page</NavLink>
		</div>
	</div>
	<main>
		<div class="container-fluid p-0">
			@Body
		</div>
	</main>

	<footer>
		<Footer />
	</footer>
</div>
