.create-btn {
    background-color: #FF7A00;
    color: #fff;
    border: none;
    padding: .4rem 1rem;
    border-radius: 6px;
    font-weight: 600;
}

.add-new-btn {
    color: #0E2954;
    background-color: #FF7A00;
    border: none;
    padding: .4rem 1rem;
    border-radius: 6px;
    font-weight: 600;
}

.exam-container {
    background-color: #F9F6FF;
    border-radius: 6px;
    margin-bottom: 5rem;
}

.add-new-container {
    background-color: #FF7A00;
    border-radius: 6px;
    margin-bottom: 2rem;
}

.add-btn-container button {
    background-color: #F9F6FF;
    color: #0E2954;
    font-size: 1.2rem;
    padding: .6rem 1rem;
    border-radius: 6px;
    border: 1px solid #F9F6FF;
}

    .add-btn-container button:hover {
        background-color: #0E2954;
        color: #fff;
        border: 1px solid #fff !important;
    }

    .add-btn-container button.active-button {
        background-color: #0E2954;
        color: #fff;
        border: 1px solid #0E2954;
    }

.in-grp {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

    .in-grp > label {
        font-size: 21px;
        font-weight: 500;
    }

.form-check-input {
    margin-top: 7px;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid gray;
    color: #FF7A00;
    margin-right: 1rem;
}

    .form-check-input:checked {
        background-color: green;
    }


.error-input {
    border: 2px solid red;
}

.flex-check {
    display: flex;
    justify-content: center;
}

.fa-check:before {
    margin-left: 1rem;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #747475;
    padding: 2px 3px;
}

    input[type=text]:focus {
        border-bottom: 1px solid #FF7A00;
        outline: none;
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem green;
}

.add-question-button {
    background-color: #FF7A00;
    color: #fff;
    border: none;
    padding: .4rem 1rem;
    border-radius: 6px;
    font-weight: 500;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 4px solid #0E2954;
    margin: 1rem;
}

    .list-items > h3 {
        font-size: 42px;
    }

    .list-items > ul {
        list-style-type: none;
        font-size: 22px;
    }

.menu-buttons {
    border: none;
}

.first-text {
    color: #696767;
}
