<div class="container my-5">
	<div class="row">
		<div class="title">How It Works</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="text-container p-3">
				<div class="bottom-left"></div>
				<span class="top-right"></span>
				<div class="subtitle">Create an Account</div>
				<div class="text">Sign up for free to access the platform and choose your tests.</div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="text-container p-3">
				<div class="bottom-left"></div>
				<span class="top-right"></span>
				<div class="subtitle">Choose Your Test</div>
				<div class="text">Select the category of tests you want to take from the available options.</div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="text-container p-3">
				<div class="bottom-left"></div>
				<span class="top-right"></span>
				<div class="subtitle">Take Your Exam</div>
				<div class="text">Answer the questions to the best of your knowledge and submit your exam.</div>
			</div>
		</div>
	</div>
</div>

@code {

}
