.container-fluid{
    display: flex;
    margin: 0;
}

.collapse.navbar-collapse{
    flex-grow: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-brand {
    max-width: 20%;
    margin: 0;
}

.connect-text{
    display: flex;
    flex-direction: column;
}

.logo-text {
    color: #0E2954;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}
.moto {
    color: #FF7A00;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

.nav-item {
    font-size: 24px;
    font-weight: 400;
}

.login-button {
    width: 97px;
    height: 45px;
    border-radius: 6px;
    background: #FF8551;
    border: none;
    color: #ffffff;
}

.search-button {
    width: 97px;
    height: 45px;
    border-radius: 6px;
    background: #FF8551;
    border: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.search-bar {
    max-height: 45px;
    border: 1.8px solid #D9D9D9;
    padding: 20px;
    gap: 10px;
    border-radius: 12px;
    background: var(--input-field-background, #F2F4F8);
    color: #959595;
    outline: none;
}

.search-bar::placeholder {
    color: #959595;
    opacity: 0.7;
}

.collapse navbar-collapse {
    display: flex;
    align-content: flex-end;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}




.navbar .nav-item .nav-link {
    color: red !important;

   margin-bottom: 10rem !important;
}