@page "/plans"

<div class="container">
	<div class="row">
		<div class="header-title">Select Your Plan</div>
		<div class="text-center">Seamless Payment Solutions: Tailored to Your Preferences and Budget</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="plan-container">
				<div class="plan-title">Basic Plan</div>
				<div class="plan-price">$20 / month</div>
				<div class="attempts">4 attempts</div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<div class="plan-container">
				<div class="plan-title">Advanced Plan</div>
				<div class="plan-price">$40 / month</div>
				<div class="attempts">10 attempts</div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 ">
			<div class="plan-container">
				<div class="plan-title">Ultimate Plan</div>
				<div class="plan-price">$80 / month</div>
				<div class="attempts">40 attempts</div>
			</div>
		</div>
	</div>
</div>

@code {

}
